{% extends "dashboard_master.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
    
    <h3>It is the main content!</h3>

    {% comment %} <div
        class="card" id="profile-card"
    >
        <img class="card-img-top" src="{% static "img/kiu_logo.png" %}" alt="Title" style="width: 100px;"/>
        <hr>
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div> {% endcomment %}
    
</div>

{% endblock body %}